# other
_notes
/_compareTemp
/.buildpath
/.project
/.settings
/baidu_verify_QtX6EhRWL7.html
/php_errors.log
# tool
/.mongo2015sm
/.memcache.php
# code
/demo
/sql
/doc/sql
/doc/Cjobs/imsJobs
/protected/config
/protected/runtime/*.log
/protected/runtime/lockfiles
/public/compile/*.html.php
/filelog/*
/uploads/2015/
/uploads/2016/
/uploads/2017/
/datapic/2015/
/datapic/2016/
/datapic/2017/
