<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="public/template/css/index.css" />
</head>

<body class="feedbacklist">
	<div class="content">
	    <!--插入图片弹窗 start-->
	    <div class="TCGB TC600 addImgTC" style="z-index:80;">
	        <div class="TCBox">
	            <h2><span title="TCtitle">{$lang.insertpicwindow.title}</span><span class="TCClose" id="cancelUserPic"><i class="icon-remove iconBtnS" id="CloseAdd" title="{$lang.insertpicwindow.clickclose}"></i></span></h2>
	            <div class="TCBody" user-id="" data-type="add">
	                <div id="drop-area-div">
	                    <p>{$lang.insertpicwindow.dragdropupload}</p>
	                    <div class="uploadBtnBox">
	                        <span>{$lang.insertpicwindow.selectfile}...</span>
	                        <input type="file" name="files[]"  accept="image/*" multiple title='Click to add Images' id="choose_pic">
	                    </div>
	                </div>
	                <div class="clear"></div>
	                <p>{$lang.insertpicwindow.picquantitylimit}</p>
	                <p>{$lang.insertpicwindow.picformatlimit}</p>
	                <ul class="imglist_addwindow" id="imglistli">
	                    <!--上传图片显示区-->
	                </ul>
	            </div>
	            <input type="hidden" value="1215154" name="tmpdir" id="id_file">
	            <div class="TCFoot">
	                <span id="determine"><a class="subBtn" style="margin:0;">{$lang.insertpicwindow.ok}</a></span>
	            </div>
	        </div>
	    </div>
	    <!--插入图片弹窗 end-->
	
		<!--详情弹窗-->
		<div class="TCGB cusInfoTC TC1200" id="more_div">
			<div class="TCBox">
				<h2>
					<ul>
						<li class="active">{$lang.detwindow.cusfeedback}</li>
						<li>{$lang.detwindow.cusdata}</li>
						<li>{$lang.detwindow.shoppinghistory}</li>
						<li>{$lang.detwindow.msghistory}</li>
					</ul>
					<span class="TCClose" id="cancelUser"><i
						class="icon-remove iconBtnS" title="{$lang.detwindow.clickclose}"></i></span>
				</h2>
				<div class="TCBody">
					<!--客户评价-->
					<div class="cusRev cusBox" style="display: block;">
						<p>
							{$lang.detwindow.feedbackstate}：
							<label><input type="checkbox" name="" id="msgStatus">{$lang.detwindow.waitcusreply}</label>
							<label><input type="checkbox" name="" id="requestStatus">{$lang.detwindow.sendedrequest}</label>
							<label><input type="checkbox" name="" id="requestOutTime">{$lang.detwindow.requestexpired}</label>
							<label><input type="checkbox" name="" id="feedbackOutTime">{$lang.detwindow.feedbackexpired}</label>
							<label><input type="checkbox" name="" id="declineChange">{$lang.detwindow.cusrefuserevise}</label>
							<input type="submit" value="{$lang.detwindow.ok}" class="fontBtn" id="saveStatus">
						</p>
						<p>
							BuyerUserID：<span id="userId"><a target="_blank" class="fontLinkBtn"></a></span>
						</p>
						<table class="table">
							<col width="150">
							<col width="150">
							<col>
							<col>
							<col>
							<col>
							<thead>
								<tr>
									<th>{$lang.detwindow.account}</th>
									<th>{$lang.detwindow.pic}</th>
									<th>{$lang.detwindow.goods}</th>
									<th>{$lang.detwindow.buyquantity}</th>
									<th>{$lang.detwindow.buytime}</th>
									<th>{$lang.detwindow.pricefreight}</th>
								</tr>
							</thead>
							<tbody id="orderList">
							</tbody>
						</table>
						<!--评价-->
						<p class="reviewsText" data-feedbackid=""></p>
						<!--对客户评价进行操作-->
						<div>
							<div class="leftTag">
								<ul id="sideTab">
									<li style="position:relative;overflow: hidden;">
										<h3>
											<i></i>{$lang.detwindow.msgtocus}
										</h3>
										<div class="leftTagCon" style="display: block;">
											<p class="msgModelSel">
												{$lang.detwindow.msgtemplate}： <span id="temp_msg"></span>
											</p>
											<p>
												<textarea id="text_msg"></textarea>
											</p>
											<p>
												<label> <input type="checkbox" name="" id="ReplyMe" />{$lang.detwindow.msgtomyebayemail}</label>
												<a href="#" class="fontLinkBtn" title="{$lang.detwindow.clickinsertpic}" id="addFile">{$lang.detwindow.insertpic}</a>
											</p>
											<p id="msg_length">
												<input type="submit" value="{$lang.detwindow.ok}" class="subBtn" id="sendMsg"/>
												<span>{$lang.detwindow.entrylimit}<b>1000</b>{$lang.detwindow.bytes}</span>
											</p>
										</div>
										<!--已上传图片展示区-->
										<div class="imgShow" id="aaa">
											<span class="rightBtn" on="true">{$lang.detwindow.hide}</span>
											<h4 style="height:30px;">{$lang.detwindow.uploadedpic}：</h4>
											<ul class="imglist_addwindow">
												<!--上传图片显示区-->
											</ul>
										</div>
									</li>
									<li>
										<h3>
											<i></i>{$lang.detwindow.replycusfeedback}
										</h3>
										<div class="leftTagCon">
											<p class="msgModelSel" id="feedback_temp" style="display:none;">
												{$lang.detwindow.msgtemplate}： <span id="temp_feedback"></span>
											</p>
											<p style="display:none;">
												<textarea id="text_feedback"></textarea>
											</p>
											<p id="feedback_length" style="display:none;">
												<input type="submit" value="{$lang.detwindow.ok}" class="subBtn" id="responseFeedback"/>
												<span>{$lang.detwindow.entrylimit}<b>80</b>{$lang.detwindow.bytes}</span>
											</p>
										</div>
									</li>
									<li style="display:none;">
										<h3>
											<i></i>{$lang.detwindow.revisefeedback}
										</h3>
										<div class="leftTagCon">
											<p>
												{$lang.detwindow.revisecause}： <select name="" id="">
													<option value=""></option>
												</select>
											</p>
											<p class="msgModelSel">
												{$lang.detwindow.msgtemplate}： <span id="temp_change"></span>
											</p>
											<p>
												<textarea id="text_change"></textarea>
											</p>
											<p>
												<input type="submit" value="{$lang.detwindow.ok}" class="subBtn" />
											</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="rightRemark">
								<h3>{$lang.detwindow.orderremark}</h3>
								<div class="remark">
									<p>
										<textarea id="note-text" ></textarea>
									</p>
									<p>
										<button class="subBtn" id="sub-note">{$lang.detwindow.save}</button>
									</p>
									<ul id="note"></ul>
								</div>
							</div>
						</div>
					</div>
					<!--客户信息-->
					<div style="display: none;" class="cusInfo cusBox"
						id="window_client_info">
						<p>
							{$lang.detwindow.cusname}：<span t="name">{$lang.detwindow.none}</span>
						</p>
						<ul class="nameVal" id="window_client_info_l">
							<li><span class="">BuyerUserID：</span><span
								class="rightVal" t="id">{$lang.detwindow.none}</span></li>
							<li><span class="">{$lang.detwindow.email}：</span><span class="rightVal"
								t="mail">{$lang.detwindow.none}</span></li>
							<li><span class="">{$lang.detwindow.registeraddr}：</span><span
								class="rightVal" t="regaddr">{$lang.detwindow.none}</span></li>
							<li style="display: none;"><span class="">{$lang.detwindow.registerdate}：</span><span
								class="rightVal" t="RegistrationDate"></span></li>
                        <li style="display:none;">
	                        <span class="">{$lang.detwindow.gavefeedback}</span>
	                        <span class="iconPj"><i class="iconPj iconPos"></i>：</span><span t="bPositive"></span>
	                        <span class="iconPj"><i class="iconPj iconNeu"></i>：</span><span t="bNeutral"></span>
	                        <span class="iconPj"><i class="iconPj iconNeg"></i>：</span><span t="bNegative"></span>
                        </li>
						</ul>
						<ul class="nameVal" style="display: none;">
							<li><span class="leftName">PayPalID：</span><span
								class="rightVal" t="pid">(●'◡'●)</span></li>
							<li><span class="leftName">{$lang.detwindow.email}：</span><span class="rightVal"
								t="pmail">(●'◡'●)</span></li>
							<li><span class="leftName">{$lang.detwindow.placeofreceipt}：</span><span
								class="rightVal" t="praddr">(●'◡'●)</span></li>
						</ul>
					</div>
					<!--购物历史-->
					<div class="buyHistory cusBox" style="display: none;"
						id="buyHistory_div">
						<table class="table" style="table-layout: auto;">
							<col width="100">
							<col>
							<col>
							<col>
							<col width="80">
							<col>
							<col width="80">
							<col>
							<col width="80">
							<col width="50">
							<thead>
								<tr>
									<th>{$lang.detwindow.account}</th>
									<th>{$lang.detwindow.SKUgoods}</th>
									<th>{$lang.detwindow.quantity}</th>
									<th>{$lang.detwindow.transactionprice}</th>
									<th>{$lang.detwindow.buytime}</th>
									<th>{$lang.detwindow.paymettransnum}</th>
									<th>{$lang.detwindow.orderaddr}</th>
									<th>{$lang.detwindow.orderstate}</th>
									<th>{$lang.detwindow.cusfeedback}</th>
									<th>{$lang.detwindow.remark}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="10" style="padding: 10px;"><img
										src="public/template/img/loader.gif" width="31" height="31"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--事件历史 start-->
					<div class="incHistory cusBox" style="display: none;">
						<div class="incHis incHisLeft">
							<h3 id="his_msg_title"></h3>
							<div class="boxCon" id="his_msg_box">
								<div id="his_msg_box2"
									style="height: 410px; overflow: auto; word-break: break-all;">
									<div style="margin: 50px auto; text-align: center;">
										<img src="public/template/img/loader.gif" width="31"
											height="31">
									</div>
								</div>
							</div>
						</div>
						<div class="incHisright">
							<p class="downUpBtn upBtn" title="{$lang.detwindow.prepage}" id="his_msgs_up">
								<i></i>
							</p>
							<ul id="his_msgs_ul" data-page="1">
								<li style="text-align: center; padding: 12px;"><img
									src="public/template/img/loader.gif" width="31" height="31"></li>
							</ul>
							<p class="downUpBtn downBtn" title="{$lang.detwindow.nextpage}" id="his_msgs_down">
								<i></i>
							</p>
						</div>
					</div>
					<!--事件历史 end-->
				</div>
			</div>
		</div>
		<!--批量回复弹窗-->
		<div class="TCGB TC400 batchReplyTC" id="batchReply">
			<div class="TCBox">
				<h2>
					<span class="TCtitle">{$lang.batchreplywindow.batchreply}</span><span class="TCClose"><i
						class="icon-remove iconBtnS" id="close_btn"></i></span>
				</h2>
				<div class="TCBody">
					<p>
						{$lang.batchreplywindow.to}<span class="fontLink" id="ReplyClient"></span>{$lang.batchreplywindow.feedbackbatchreply}
					</p>
					<p style="text-align: right;" id="batch_length">
						<textarea id="batchText"></textarea>
						<small>{$lang.batchreplywindow.entrylimit}<span class="fontLink">80</span>{$lang.batchreplywindow.bytes}
						</small>
					</p>
				</div>
				<div class="TCFoot">
					<span class="subBtn" id="saveReply">{$lang.batchreplywindow.ok}</span>
				</div>
			</div>
		</div>
		<!--批量给客户发消息  -->
		<div class="TCGB TC600 batchReplyTC" id="batchSendMsg">
			<div class="TCBox">
				<h2>
					<span class="TCtitle">{$lang.batchSendMsg.batch_send_msg}</span><span class="TCClose"><i
						class="icon-remove iconBtnS" id="close_batch"></i></span>
				</h2>
				<div class="TCBody">
					<p style="word-break: break-all;">
						{$lang.batchSendMsg.to} <span class="fontLink" id="MsgClient"></span> {$lang.batchSendMsg.msg_batch_send}
					</p>
					<p class="msgModelSel">
						{$lang.detwindow.msgtemplate}： <span id="temp_batch"></span>
					</p>
					<p style="text-align: right;" id="batch_msg_length">
						<textarea id="MsgText"></textarea>
						<small>{$lang.batchSendMsg.entry_limit}<span class="fontLink">1000</span>{$lang.batchSendMsg.bytes}
						</small>
					</p>
				    <p>
						<label> <input type="checkbox" name="" id="isSendMe" />{$lang.detwindow.msgtomyebayemail}</label>
						<a href="#" class="fontLinkBtn" title="{$lang.detwindow.clickinsertpic}" id="addFiles">{$lang.detwindow.insertpic}</a>
				    </p>
				</div>
				<!--已上传图片展示区-->
				<div class="imgShow">
					<span class="rightBtn" on="true">{$lang.detwindow.hide}</span>
					<h4 style="height:30px;">{$lang.detwindow.uploadedpic}：</h4>
					<ul class="imglist_addwindow">
					<!--上传图片显示区-->
					</ul>
				</div>
				<div class="TCFoot">
					<span class="subBtn" id="saveMsg">{$lang.batchSendMsg.ok}</span>
				</div>
			</div>
		</div>
		<!--评价列表-->
		<table class="table disputListTable" cellpadding="0" cellspacing="0">
			<col width="50" />
			<col width="150"/>
			<col width="200"/>
			<col width="200"/>
			<col /> 
			<col width="140"/>
			<col width="140"/>
			<col width="90"/>
			<thead>
				<tr>
					<th colspan="8">
						<div class="searchDiv">
							<p>
								<span>{$lang.feedbacklist.state}：</span> <select name="" id="status" style="vertical-align:middle;">
									<option value=" "></option>
									<option value="waitingResponse">{$lang.feedbacklist.waitcusreply}</option>
									<option value="sendRequest">{$lang.feedbacklist.sendedrequest}</option>
									<option value="reqtime">{$lang.feedbacklist.requestexpired}</option>
									<option value="fedtime">{$lang.feedbacklist.feedbackexpired}</option>
									<option value="decline">{$lang.feedbacklist.cusrefuserevise}</option>
								</select>
							</p>
							<p>
								<span>{$lang.feedbacklist.cusname}：</span> <input type="text" name="" id="cust" />
							</p>
							<p>
								<input type="submit" id="searchList" value="{$lang.feedbacklist.search}" class="subBtn" style="margin-top:2px;"/>
							</p>
						</div> <span id="batchDeal" class="noBgBtn addUserBtn">{$lang.feedbacklist.batchreply}</span>
						<span id="batchSend" class="noBgBtn addUserBtn" style="display:none;">{$lang.feedbacklist.batchsend}</span>
					</th>
				</tr>
				<tr>
					<th><input type="checkbox" name="" id="checkall" /></th>
					<th>{$lang.feedbacklist.account}</th>
					<th>BuyerUserID</th>
					<th>item ID</th>
					<th>{$lang.feedbacklist.feedback}</th>
					<th>{$lang.feedbacklist.date}</th>
					<th>last send time</th>
					<th>{$lang.feedbacklist.operation}</th>
				</tr>
			</thead>
			<tbody id="feedbackList">
				<!-- 数据输出 start -->
				<!-- 数据输出 end -->
			</tbody>
			<tfoot>
				<!--下面tr为表格底行（页面跳转行）-->
				<tr>
					<td id="paginationNavBar" colspan="8"
						style="text-align: right; padding-right: 40px;"></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<script src="public/template/js/jquery-1.8.3.min.js"></script>
	<script src="public/lang/{$lang_dir}/js/lang.js"></script>
	<script src="public/template/js/common.js?v0.0.1"></script>
	{literal}
	<script>
		//信息源更多客户信息弹窗选项卡-林培雁-2015-6-12
		tabFun('.cusInfoTC h2 li', '.cusInfoTC .cusBox');
		$('#sideTab li h3').on('click', function() {
			$('#sideTab li .leftTagCon').hide();
			$(this).next('div').fadeIn(300);
		})
		//邮件详情上传图片展示区隐藏/展开  林培雁--2015-9-2
    $('.imgShow .rightBtn').on('click', function() {
        var $this = $(this);
        var boxWidth = $this.parent('.imgShow').width() + 12;
        if ($this.attr('on') == 'true') {
            imgShowAn(-boxWidth,'false','展开');
        } else {
            imgShowAn(-4,'true','隐藏');
        }
    })

    function imgShowAn(rightNum,onV,tit) {
        $('.imgShow').animate({
            right: rightNum
        }, 300, function() {
            $('.imgShow .rightBtn').attr('on', onV);
            $('.imgShow .rightBtn').html(tit);
        })
    }
	</script>
	{/literal}
	<script src="public/template/js/feedbacklist_biz.js"></script>
	<script src="public/template/js/lightbox.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/template/css/lightbox.css">
	<script src="public/template/js/dmuploader.js"></script>
</body>

</html>
