<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="public/template/css/index.css" />
	</head>

	<body class="ppdisputeDel">
		<div class="content">
			<!--顶部（返回-上一页，下一页）-->
			<div class="top">
				<div class="leftTopLeft" title="返回列表页"></div>
				<div class="leftTopRight" id="">
					<span class="preBtn pageBtn" title="上一条" msg-type="" data-id=""><i class="icon-chevron-left"></i></span>
					<span class="nextBtn pageBtn" title="下一条" msg-type="" data-id=""><i class="icon-chevron-left"></i></span>
				</div>
				<div class="clear"></div>
			</div>
			<!--纠纷内容 start-->
			<div class="left">
				<!--争议描述 start-->
				<div class="conBox">
					<h2><span>争议-描述不符-事件号:<b>PP-0033-786</b></span></h2>
					<div class="boxCon">
						<ul>
							<li><span>事件原因：</span><span>型号不同、内部受损</span>
							</li>
							<li><span>发起时间：</span><span>2015-04-10 10:30</span>
							</li>
							<li><span>事件状态：</span><span>我们建议您与我们协同工作，一起解决此问题。</span>
							</li>
						</ul>
						<table class="table">
							<thead>
								<tr>
									<th>产品图</th>
									<th>PayPal交易号</th>
									<th>itemID</th>
									<th>购买量</th>
									<th>总争议金额</th>
									<th>交易时间</th>
									<th>发货时间</th>
									<th>物流单号</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td><span>ddrfe8988N</span>
									</td>
									<td><span>2</span>
									</td>
									<td><span>234</span>
									</td>
									<td>
										<span>$100.00 USD</span>
										<a href="javascript:;" class="fontLink">详情</a>
										<div class="monTC">
											<ul>
												<li>商品单价：$10.00 USD</li>
												<li>运费：$10 GBP</li>
												<li>PayPal手续费：$10.00 USD</li>
											</ul>
										</div>
									</td>
									<td>2015-04-10 10:30</td>
									<td>2015-04-10 10:30</td>
									<td><span>gz546865</span><a href="javascript:;" class="fontLink">物流状态</a>
									</td>
								</tr>
								<tr>
									<td></td>
									<td><span>ddrfe8988N</span>
									</td>
									<td><span>2</span>
									</td>
									<td><span>234</span>
									</td>
									<td>
										<span>$100.00 USD</span>
										<a href="javascript:;" class="fontLink">详情</a>
										<div class="monTC">
											<ul>
												<li>商品单价：$10.00 USD</li>
												<li>运费：$10 GBP</li>
												<li>PayPal手续费：$10.00 USD</li>
											</ul>
										</div>
									</td>
									<td>2015-04-10 10:30</td>
									<td>2015-04-10 10:30</td>
									<td><span>gz546865</span><a href="javascript:;" class="fontLink">物流状态</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--争议描述 end-->
				<!--事件历史 start-->
				<div class="conBox incHis">
					<h2>事件历史<span>事件日志</span></h2>
					<div class="boxCon">
						<ul>
							<li class="sellerMSG">
								<div class="MSGC">
									</p>
									<p><b>客服乙 2015.1.1 18:31</b>
										<p>Fuck! Fuck! Fuck!</p>
								</div>
							</li>
							<li class="buyerMSG">
								<div class="MSGC">
									<p><b>客户甲 2015.1.1 18:31</b>
									</p>
									<p>Fuck! Fuck! Fuck!Fuck! Fuck! Fuck!Fuck! Fuck! Fuck!</p>
								</div>
							</li>
							<li class="systemMSG" style="display:none;">
								<div class="systemCon">
									<h3>客户要求赔个女朋友给他，您是否同意并结束此争议？</h3>
									<p>
										<label>
											<input type="radio" name="dis" id="" />授受退款并结束争议</label>
										<label>
											<input type="radio" name="dis" id="" />不接受</label>
									</p>
									<div class="disTrue">
										<p>退款金额：￥50.00</p>
										<p>给客户留言：</p>
										<textarea name="" rows="" cols=""></textarea>
									</div>
									<div class="systemConFoot">
										<input type="button" value="确认退款" class="subBtn" />
									</div>
								</div>
							</li>
							<li class="systemMSG systemMSG2" style="display:none;">
								<div class="systemCon">
									<p><b>系统消息： 客服乙已接受客户甲的退款。----2015.1.1 18:31</b>
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--事件历史 end-->
				<!--文件-传真-留言 start-->
				<div class="fileBox">
					<ul>
						<li>文件</li>
						<li>传真</li>
						<li>留言</li>
					</ul>
					<div class="fileCon1 fileCon">
						<table class="table">
							<thead>
								<tr>
									<th>文件名</th>
									<th>证据类型</th>
									<th>发送时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>关于X货的发货证明</td>
									<td>发货证明</td>
									<td>2015-03-18 23:00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--文件-传真-留言 end-->
				<!--处理方式 start-->
				<div class="conBox">
					<h2>处理方式</h2>
					<div class="processWay">
						<!--描述不符处理方式 start-->
						<ul>
							<li>
								<h3>
									<i></i>
									<span>退全款，买家可以保留物品</span>
								</h3>
								<div class="acBox">
									<p><span class="spanMode span80">退全款：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">退款金额：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">退款净额：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">PayPal退费：</span>￥100.00 USD</p>
									<p>
										<span class="spanMode span80">回复模板：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<textarea></textarea>
									<p class="subP">
										<input type="button" value="确认退款" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>退全款，买家需要退还物品</span>
								</h3>
								<div class="acBox">
									<p><span class="spanMode span80">退款金额：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">退款净额：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">PayPal退费：</span>￥100.00 USD</p>
									<p>
										<span class="spanMode span80">回复模板：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p>中国 Guangdong province tianhe district,Guangzhou,xintang street</p>
									<p class="subP">
										<input type="button" value="确认退款" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>提供部分退款，结束此次补偿申请</span>
								</h3>
								<div class="acBox">
									<p><span class="spanMode span80">争议金额：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">退款金额：</span>
										<input type="text" />
									</p>
									<p><span class="spanMode span80">退款净额：</span>￥100.00 USD</p>
									<p><span class="spanMode span80">所退费用：</span>￥100.00 USD</p>
									<p>
										<span class="spanMode span80">回复模板：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p>给客户留言：</p>
									<textarea></textarea>
									<p class="subP">
										<input type="button" value="确认退款" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>向PayPal提供已向买家退款的证明</span>
								</h3>
								<div class="acBox">
									<p>
										<label>
											<input type="radio" name="prove" checked/>通过PayPal发出退款</label>
										<label>
											<input type="radio" name="prove" id="" />PayPal以外的方式发出退款</label>
									</p>
									<div class="refundBox" style="text-align:center;">
										<p>
											<input type="text" value="" placeholder="填写交易号" />
										</p>
										<p style="margin-top:10px;">
											<input type="button" value="确认退款" class="subBtn" />
										</p>
									</div>
									<div class="refundBox">
										<p>
											<input type="file" name="" id="" />
										</p>
										<p>
											<span class="spanMode span80">文件类型：</span>
											<select name="" id="">
												<option value=""></option>
											</select>
										</p>
										<span class="spanMode span80">说明：</span>
										<textarea name="" rows="" cols=""></textarea>
										<p class="subP">
											<input type="button" value="添加发送文件" class="subBtn" />
										</p>
									</div>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>不同意补偿申请，向PayPal提供更多信息</span>
								</h3>
								<div class="acBox">
									<p>请提供有关交易的任何其他信息：</p>
									<textarea></textarea>
									<p class="subP">
										<input type="button" value="升级为补偿申请" class="subBtn" />
									</p>
								</div>
							</li>
						</ul>
						<!--描述不符处理方式 end-->

						<!--未收到货处理方式 start-->
						<ul style="display:none;">
							<li>
								<h3>
									<i></i>
									<span>给客户发信息</span>
								</h3>
								<div class="acBox">
									<p>
										<span class="spanMode span80">回复模板：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<textarea></textarea>
									<p class="subP">
										<input type="button" value="发送" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>提供全额退款</span>
								</h3>
								<div class="acBox">
									<p><span class="spanMode span80">退款金额：</span>￥100.00 USD</p>
									<p>
										<span class="spanMode span80">回复模板：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<textarea></textarea>
									<p class="subP">
										<input type="button" value="确认退款" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>添加跟踪信息</span>
								</h3>
								<div class="acBox">
									<p><span class="spanMode span80">跟踪号：</span>80805074</p>
									<p>
										<span class="spanMode span80">订单状态：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p>
										<span class="spanMode span80">承运商：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p class="subP">
										<input type="button" value="发送" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>将此争议升级为PayPal补偿申请</span>
								</h3>
								<div class="acBox">
									<span class="spanMode">请提供有关交易的任何其他信息：</span>
									<textarea name="" rows="" cols=""></textarea>
									<p class="subP">
										<input type="button" value="升级为补偿申请" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>不同意补偿申请，向PayPal提供更多信息</span>
								</h3>
								<div class="acBox">
									<p>请提供有关交易的任何其他信息：</p>
									<textarea></textarea>
									<p class="subP">
										<input type="button" value="升级为补偿申请" class="subBtn" />
									</p>
								</div>
							</li>
						</ul>
						<!--未收到货处理方式 end-->

						<!--PayPal调查处理方式 start-->
						<ul style="display:none;">
							<li>
								<h3>
									<i></i>
									<span>未发货，退退款</span>
								</h3>
								<div class="acBox">
									<p>请确认您的收货人信息和发货信息，并提供PayPal您与买家沟通的附加信息（如您与买家的电子邮件通信等）</p>
									<p>
										<span class="spanMode">客户姓名：</span>
										<input type="text" name="" id="" />
									</p>
									<p>
										<span class="spanMode">订单地址：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p>附加信息：</p>
									<textarea></textarea>
									<p>
										<span class="spanMode">我的电话：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p class="subP">
										<input type="button" value="发送" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>提供退款证明</span>
								</h3>
								<div class="acBox">
									<p>
										<span class="spanMode">退款交易号：</span>
										<input type="text" name="" id="" />
									</p>
									<p>请确认您的收货人信息和发货信息，并提供PayPal您与买家沟通的附加信息（如您与买家的电子邮件通信等）</p>
									<p>
										<span class="spanMode">客户姓名：</span>
										<input type="text" name="" id="" />
									</p>
									<p>
										<span class="spanMode">订单地址：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p>附加信息：</p>
									<textarea></textarea>
									<p>
										<span class="spanMode">我的电话：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p class="subP">
										<input type="button" value="发送" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>提供其他信息</span>
								</h3>
								<div class="acBox">
									<p>请确认您的收货人信息和发货信息，并提供PayPal您与买家沟通的附加信息（如您与买家的电子邮件通信等）</p>
									<p>
										<span class="spanMode span80">客户姓名：</span>
										<input type="text" name="" id="" />
									</p>
									<p>
										<span class="spanMode span80">订单地址：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p>
										<span class="spanMode span80">退款交易号：</span>
										<input type="text" name="" id="" />
									</p>
									<p><span class="spanMode span80">附加信息：</span>
									</p>
									<textarea></textarea>
									<p>
										<span class="spanMode span80">我的电话：</span>
										<select name="" id="">
											<option value=""></option>
										</select>
									</p>
									<p class="subP">
										<input type="button" value="发送" class="subBtn" />
									</p>
								</div>
							</li>
							<li>
								<h3>
									<i></i>
									<span>提供发货证明</span>
								</h3>
								<div class="acBox">
									<p>
										<label>
											<input type="radio" name="prove" checked/>提供在线跟踪消息</label>
										<label>
											<input type="radio" name="prove" id="" />上传或传真发送证明</label>
									</p>
									<div class="refundBox">
										<p>
											<span class="spanMode span80">跟踪号：</span>
											<input type="text" value="" />
										</p>
										<p>
											<span class="spanMode span80">承运商：</span>
											<select name="" id="">
												<option value=""></option>
											</select>
										</p>
										<p>
											<span class="spanMode span80">其他要求：</span>
											<input type="text" value="" />
											<span>可选填</span>
										</p>
										<p class="subP">
											<a href="javascript:;">继续添加</a>
											<input type="button" value="提交" class="subBtn" />
										</p>
									</div>
									<div class="refundBox">
										<p>
											<span class="spanMode span80">请选择：</span>
											<select name="" id="">
												<option value=""></option>
											</select>
										</p>
										<p>
											<input type="file" name="" id="" />
										</p>
										<p>
											<span class="spanMode span80">文件类型：</span>
											<select name="" id="">
												<option value=""></option>
											</select>
										</p>
										<span class="spanMode span80">说明：</span>
										<textarea name="" rows="" cols=""></textarea>
										<p class="subP">
											<input type="button" value="添加并发送文件" class="subBtn" />
										</p>
									</div>
									<div class="refundBox">
										<p>
											<span class="spanMode span80">请选择：</span>
											<select name="" id="">
												<option value=""></option>
											</select>
										</p>
										<p>
											<span class="spanMode span80">主题：</span>
											<input type="text" name="" id="" />
										</p>
										<span class="spanMode span80">留言：</span>
										<textarea name="" rows="" cols=""></textarea>
										<p class="subP">
											<input type="button" value="发送" class="subBtn" />
										</p>
									</div>
									<div class="refundBox">
										<p>
											<span class="spanMode span80">请选择：</span>
											<select name="" id="">
												<option value=""></option>
											</select>
										</p>
										<p class="subP">
											<input type="button" value="发送" class="subBtn" />
										</p>
									</div>
								</div>
							</li>
						</ul>
						<!--PayPal调查处理方式 end-->
					</div>
				</div>
				<!--处理方式 end-->
			</div>
			<div class="right">
				<div class="conBox">
					<h2>客户信息</h2>
					<div class="boxCon">
						<p><span class="spanMode">客户名：</span>LinPeiYan</p>
						<p><span class="spanMode">Email：</span>abcabcabc@163.com</p>
						<p><span class="spanMode">订单地址：</span>广州天河新塘</p>
						<p><span class="spanMode">消费记录：</span>近3个月，消费2次，购买金额为150</p>
						<ul class="fileBox">
							<li>历史case</li>
							<li>历史订单</li>
							<li>站内信</li>
						</ul>
					</div>
				</div>
				<div class="conBox">
					<h2>备注(只保留在本系统)</h2>
					<div class="boxCon">
						<div class="remark">
							<input type="text">
							<p class="subP"><input type="button" value="保存" class="subBtn"/></p>
							<ul>
								<li><span>555-----</span><span>2015-04-22 10:24:33&nbsp;</span><b>test</b>
								</li>
								<li><span>2342-----</span><span>2015-04-23 13:25:40&nbsp;</span><b>test</b>
								</li>
								<li><span>股份制-----</span><span>2015-04-23 13:25:43&nbsp;</span><b>test</b>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<!--纠纷内容 end-->
		</div>
		<script src="public/template/js/jquery-1.8.3.min.js?v0.0.1"></script>
		<!--<script src="js/common.js?v0.0.1"></script>-->
		<script>
			//动态高度		
			function rewidth(){
				$('.ppdisputeDel .left').css({
					width: $('body').width() - 450
				})
			}
			rewidth();
			$(window).resize(function(){
				rewidth();	
			})
			//paypal纠纷详情处理方式收缩导航
			$('.ppdisputeDel .processWay h3').attr('on',1);
			$('.ppdisputeDel .processWay').on('click','h3',function(){
				var $this=$(this);
				if(+$this.attr('on')){
					$this.find('i').css('backgroundPosition','-100px -20px');
					$this.siblings('.acBox').slideDown(100,function(){$this.attr('on',0);});
				}else if(!+$this.attr('on')){
					$this.siblings('.acBox').slideUp(100,function(){$this.attr('on',1);});
					$this.find('i').css('backgroundPosition','-80px -20px');
				}
				
			})
		</script>
	</body>

</html>