<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" type="text/css" href="public/template/css/index.css" />
	<!-- {literal} -->
	<style>
		table td,table th{text-align:center !important;}
	</style>
	<!-- {/literal} -->
</head>
<body>
	<div class="content returnrequest">
		<!-- 纠纷列表 start -->
		<table class="table disputListTable" cellpadding="0" cellspacing="0">
			<col width="140" />
			<col />
			<col width="100"/>
			<col />
			<col />
			<col width="130" />
			<col />
			<col width="140" />
			<col width="90" />
			<thead>
				<tr>
					<th colspan="9">
						<div class="searchDiv">
							<p>
								<span>{$lang.search_cloumn.status}</span>
								<select name="" id="status" style="vertical-align:middle;">
								</select>
							</p>
							<p>
								<span>{$lang.search_cloumn.item_id}</span>
								<input type="text" name="" id="itemid" />
							</p>
							<p>
								<span>{$lang.search_cloumn.buyer_id}</span>
								<input type="text" name="" id="buyer" />
							</p>
							<p>
								<input type="submit" id="searchReturn" value="搜索" class="subBtn" style="margin-top:2px;" />
							</p>
						</div>
					</th>
				</tr>
				<tr>
					<th>{$lang.list.return_id}</th>
					<th>{$lang.list.item_id}</th>
					<th>{$lang.list.account_id}</th>
					<th>{$lang.list.buyer_id}</th>
					<th>{$lang.list.reason}</th>
					<th>{$lang.list.open_time}</th>
					<th>{$lang.list.status}</th>
					<th>{$lang.list.refund_time}</th>
					<th>{$lang.list.operation}</th>
				</tr>
			</thead>
			<tbody id="ReturnList">
				<!-- 数据输出 start -->
				<!-- 数据输出 end -->
			</tbody>
			<tfoot>
				<!--下面tr为表格底行（页面跳转行）-->
				<tr>
					<td id="paginationNavBar" colspan="9" style="text-align:right;padding-right:40px;">
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- 纠纷列表 end -->
	</div>
	<script type="text/javascript" src="public/template/js/jquery-1.8.3.min.js"></script>
	<script src="public/lang/{$lang_dir}/js/lang.js"></script>
	<script type="text/javascript" src="public/template/js/common.js"></script>
	<script type="text/javascript" src="public/template/js/returnlist_biz.js"></script>
</body>
</html>
